/ycsb-0.17.0-rocksdb/
/workload_flink/
!/workload/
/workload/*
!/workload/mywltemplate
!/workload/ycsbwl_*
/tmp/
/FASTER/
/rocksdb6114/
/berkerlydb/
/lethe/
/.idea/
/archive/
y_*
f_*
*.txt
*.pdf
*.png
core

